export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost:5433/social?sslmode=disable"
export SENDGRID_API_KEY=
export MAILTRAP_API_KEY="82bb593c465f84"
export FROM_EMAIL="linusbayere@gmail.com"